@font-face {
  font-family: "Fruktur";
  src: url("../assets/fonts/Fruktur-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Fruktur";
  src: url("../assets/fonts/Fruktur-Italic.ttf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Texturina";
  src: url("../assets/fonts/Texturina_18pt-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Texturina";
  src: url("../assets/fonts/Texturina_18pt-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Texturina";
  src: url("../assets/fonts/Texturina_18pt-ExtraBold.ttf");
  font-weight: 800;
  font-style: normal;
}
